{% extends "person.html" %} 

{% block title %}Instructor{% endblock %} 

{% block styles %}
    {{ super() }}

{% endblock %}

{% block person_name %}{{ instructor_name }}{% endblock %}

{% block inner_nav_links %}

    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Your Courses')" id="defaultOpen">Your Courses</button>
        
      </div>

{% endblock %}

{% block data_table_headings %}
    <th>Course Name</th>
    <th>Teacher</th>
    <th>Time</th>
    <th>Students Enrolled</th>
{% endblock %}

{% block data_table_body %}
    {% for class in data %}
        <tr>
            <td>
                <a href="{{ url_for('views.specific_course', name = class.Teacher, course = class.CourseName) }}">
                    {{ class.CourseName }}
                </a>
            </td>
            <td>{{ class.Teacher }}</td>
            <td>{{ class.Time }}</td>
            <td>{{ class.StudentsEnrolled }}</td>
        </tr>
    {% endfor %}
{% endblock %}
